<div class="page">
    <div class="modal-container">
        <div class="l-product">
            <div class="l-product__container">
                <div class="l-product__title">{{title}}</div>

                <main class="l-product__main">
                    <div class="l-product__image">
                        <img src="http://placehold.it/300x400" style="width: 100%;" />
                    </div>
                    <div class="l-product__price">
                        <div class="c-price">

                            <div class="c-price__row">
                                <div class="c-price__index c-price__index--xl">Prix de location
                                    <div class="c-price__date">{{datededepart | date:'short'}} <br /> {{datedefin |
                                        date:'short'}}</div>
                                </div>
                                <div class="c-price__value c-price__value--xl c-price__value--b">66.88 CHF</div>
                            </div>

                            <div class="c-price__row">
                                <div class="c-price__index">from 13.03.2017 <br /> to 19.03.2017</div>
                                <div class="c-price__value c-price__value--green">8.99 CHF</div>
                            </div>

                            <div class="c-price__row">
                                <div class="c-price__index">from 13.03.2017 <br /> to 19.03.2017</div>
                                <div class="c-price__value c-price__value--green">8.99 CHF</div>
                            </div>

                            <div class="c-price__row">
                                <div class="c-price__index c-price__index--m">Amount > 10
                                    <div class="c-price__date">from 2017-01-01 <br /> to 2017-12-31</div>
                                </div>
                                <div class="c-price__value c-price__value--green">8.00 CHF</div>
                            </div>

                            <div class="c-price__row">
                                <div class="c-price__index c-price__index--m">Amount > 20
                                    <div class="c-price__date">from 2017-01-01 <br /> to 2017-12-31</div>
                                </div>
                                <div class="c-price__value c-price__value--green">7.00 CHF</div>
                            </div>

                        </div>
                        <div class="c-info">

                            <div class="c-info__row">
                                <div class="c-info__index">Supplier</div>
                                <div class="c-info__value">Gruenenfelder SA (#270)</div>
                            </div>

                            <div class="c-info__row">
                                <div class="c-info__index">Pre-supplie</div>
                                <div class="c-info__value">Hug</div>
                            </div>

                            <div class="c-info__row">
                                <div class="c-info__index">EAN barcode</div>
                                <div class="c-info__value">
                                    50159246 <br> 50159246 <br> 5000159407236 <br> 5000159409056 <br> 5000159409056
                                </div>
                            </div>

                            <div class="c-info__row">
                                <div class="c-info__index">Selling unit</div>
                                <div class="c-info__value">1 CT</div>
                            </div>

                            <div class="c-info__row">
                                <div class="c-info__index">Packing</div>
                                <div class="c-info__value">1 CT da 16 PZ</div>
                            </div>

                        </div>


                    </div>
                    <div class="l-product__add-to">
                        <div class="c-add-to">
                            <div class="c-add-to__container">
                                <div class="c-add-to__cell">
                                    <form action="/" class="c-amount">

                                        <div class="c-amount__item">
                                            <button class="btn btn-primary c-amount__control">-</button>
                                        </div>

                                        <div class="c-amount__item c-amount__item--input">
                                            <label for="amount" class="control-label c-amount__label">Amount</label>
                                            <input class="form-control c-amount__input" id="amount">
                                        </div>

                                        <div class="c-amount__item">
                                            <button class="btn btn-primary c-amount__control">+</button>
                                        </div>

                                    </form>
                                </div>

                                <div class="c-add-to__cell c-add-to__cell--end">
                                    <div class="basket-button">
                                        <button class="btn btn-primary basket-button__btn">Add to basket</button>
                                    </div>
                                </div>

                                <div class="c-add-to__cell">
                                    <div class="c-info c-info--total">
                                        <div class="c-info__row">
                                            <div class="c-info__index">Total</div>
                                            <div class="c-info__value c-info__value--total">55.00 CHF <span class="c-info__math">5
                                                    x 11.00</span></div>
                                        </div>
                                        <div class="c-info__row">
                                            <div class="c-info__index">Packing</div>
                                            <div class="c-info__value">1 CO da 24 PZ da 51 GR</div>
                                        </div>
                                    </div>

                                </div>
                                <div class="c-add-to__cell">
                                    <div class="c-total">

                                        <div class="c-total__row">
                                            <div class="c-total__col">Already in basket</div>
                                            <div class="c-total__col">43</div>
                                            <div class="c-total__col">473.00 CHF</div>
                                        </div>

                                        <div class="c-total__row">
                                            <div class="c-total__col">After addition</div>
                                            <div class="c-total__col">48</div>
                                            <div class="c-total__col">528.00 CHF</div>
                                        </div>

                                        <hr class="c-total__hr" />

                                        <div class="c-total__row">
                                            <div class="c-total__col c-total__col--half">Whole basket total cost</div>
                                            <div class="c-total__col c-total__col--half">2360.86 CHF</div>
                                        </div>

                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="l-product__description">
                        <div class="c-title--h2">Description</div>

                        <div class="c-desription">
                            SU ORDINAZIONE CT da 12 PZ da 110 GR <br /> 12x110 Gr.
                        </div>
                    </div>


                    <div class="c-title--h2">Equipment / connected products</div>
                    <div class="c-related">
                        <div class="c-related__item">
                            <div class="c-related__figure">
                                <a href="#" class="c-related__a">
                                    <img class="c-related__img" src="http://placehold.it/200x200" />
                                </a>
                            </div>
                            <div class="c-related__title">
                                <a href="#" class="c-related__a">Aceto bianco (Thomy 15 L) (1553)</a>
                                <div class="c-related__supplier">Supplier test supplier (74)</div>
                            </div>
                        </div>
                        <div class="c-related__item">
                            <div class="c-related__figure">
                                <a href="#" class="c-related__a">
                                    <img class="c-related__img" src="http://placehold.it/200x200" />
                                </a>
                            </div>
                            <div class="c-related__title">
                                <a href="#" class="c-related__a">Bricchette lampone (39153)</a>
                                <div class="c-related__supplier">Supplier test supplier (74)</div>
                            </div>
                        </div>
                        <div class="c-related__item">
                            <div class="c-related__figure">
                                <a href="#" class="c-related__a">
                                    <img class="c-related__img" src="http://placehold.it/200x200" />
                                </a>
                            </div>
                            <div class="c-related__title">
                                <a href="#" class="c-related__a">Capretto tagliato (5191)</a>
                                <div class="c-related__supplier">Supplier test supplier (74)</div>
                            </div>
                        </div>

                    </div>

                    <div class="c-title--h2">Equipment / connected products</div>
                    <div class="c-related">
                        <div class="c-related__item">
                            <div class="c-related__figure">
                                <a href="#" class="c-related__a">
                                    <img class="c-related__img" src="http://placehold.it/200x200" />
                                </a>
                            </div>
                            <div class="c-related__title">
                                <a href="#" class="c-related__a">Aceto bianco (Thomy 15 L) (1553)</a>
                                <div class="c-related__supplier">Supplier test supplier (74)</div>
                            </div>
                        </div>
                        <div class="c-related__item">
                            <div class="c-related__figure">
                                <a href="#" class="c-related__a">
                                    <img class="c-related__img" src="http://placehold.it/200x200" />
                                </a>
                            </div>
                            <div class="c-related__title">
                                <a href="#" class="c-related__a">Bricchette lampone (39153)</a>
                                <div class="c-related__supplier">Supplier test supplier (74)</div>
                            </div>
                        </div>
                        <div class="c-related__item">
                            <div class="c-related__figure">
                                <a href="#" class="c-related__a">
                                    <img class="c-related__img" src="http://placehold.it/200x200" />
                                </a>
                            </div>
                            <div class="c-related__title">
                                <a href="#" class="c-related__a">Capretto tagliato (5191)</a>
                                <div class="c-related__supplier">Supplier test supplier (74)</div>
                            </div>
                        </div>
                        <div class="c-related__item">
                            <div class="c-related__figure">
                                <a href="#" class="c-related__a">
                                    <img class="c-related__img" src="http://placehold.it/200x200" />
                                </a>
                            </div>
                            <div class="c-related__title">
                                <a href="#" class="c-related__a">Capretto tagliato Capretto tagliato (5191)</a>
                                <div class="c-related__supplier">Supplier test supplier (74)</div>
                            </div>
                        </div>
                        <div class="c-related__item">
                            <div class="c-related__figure">
                                <a href="#" class="c-related__a">
                                    <img class="c-related__img" src="http://placehold.it/200x200" />
                                </a>
                            </div>
                            <div class="c-related__title">
                                <a href="#" class="c-related__a">Bricchette lampone Bricchette Bricchette lampone
                                    Bricchette (39153)</a>
                                <div class="c-related__supplier">Supplier test supplier (74)</div>
                            </div>
                        </div>
                        <div class="c-related__item">
                            <div class="c-related__figure">
                                <a href="#" class="c-related__a">
                                    <img class="c-related__img" src="http://placehold.it/200x200" />
                                </a>
                            </div>
                            <div class="c-related__title">
                                <a href="#" class="c-related__a">Capretto tagliato tagliato (5191)</a>
                                <div class="c-related__supplier">Supplier test supplier (74)</div>
                            </div>
                        </div>

                    </div>



                </main>

                <aside class="l-product__aside">
                    <div class="l-product__attr">

                        <div class="c-prod-info">
                            <div class="c-title--h2">Product information</div>
                            <ul class="c-file-list">
                                <li class="c-file-list__li">


                                    <a href="/" class="c-file-list__a">
                                        <svg class="lnr lnr-file-empty c-file-list__icon">
                                            <use xlink:href="#lnr-file-empty"></use>
                                        </svg> Quality assurance certificate</a>
                                </li>
                                <li class="c-file-list__li">
                                    <a href="/" class="c-file-list__a">
                                        <svg class="lnr lnr-file-empty c-file-list__icon">
                                            <use xlink:href="#lnr-file-empty"></use>
                                        </svg> Product bigger photo</a>
                                </li>
                                <li class="c-file-list__li">
                                    <a href="/" class="c-file-list__a">
                                        <svg class="lnr lnr-file-empty c-file-list__icon">
                                            <use xlink:href="#lnr-file-empty"></use>
                                        </svg> 01.jpg
                                    </a>
                                </li>
                            </ul>


                        </div>

                        <div class="c-prod-attr">
                            <div class="c-title--h2">Product attributes</div>
                            <div class="c-prod-attr__section">

                                <div class="c-prod-attr__title">Allergens</div>

                                <div class="c-prod-attr__item">
                                    <div class="c-prod-attr__name">Eggs</div>
                                    <div class="c-prod-attr__value">Contains</div>
                                </div>
                                <div class="c-prod-attr__item">
                                    <div class="c-prod-attr__name">Peanuts</div>
                                    <div class="c-prod-attr__value">Contains not</div>
                                </div>
                                <div class="c-prod-attr__item">
                                    <div class="c-prod-attr__name">Fish</div>
                                    <div class="c-prod-attr__value">Contains not</div>
                                </div>
                                <div class="c-prod-attr__item">
                                    <div class="c-prod-attr__name">Gluten</div>
                                    <div class="c-prod-attr__value">Contains not</div>
                                </div>
                                <div class="c-prod-attr__item">
                                    <div class="c-prod-attr__name">Crustacean</div>
                                    <div class="c-prod-attr__value">Contains not</div>
                                </div>
                                <div class="c-prod-attr__item">
                                    <div class="c-prod-attr__name">Milk</div>
                                    <div class="c-prod-attr__value">Contains not</div>
                                </div>
                            </div>

                            <div class="c-prod-attr__section">
                                <div class="c-prod-attr__title">General information</div>
                                <div class="c-prod-attr__no-info"> no inforamtion yet</div>
                            </div>


                            <div class="c-prod-attr__section">

                                <div class="c-prod-attr__title">Macro-nutrients</div>

                                <div class="c-prod-attr__item">
                                    <div class="c-prod-attr__name">Energy kcal</div>
                                    <div class="c-prod-attr__value">136 g per 100 g/ml</div>
                                </div>
                                <div class="c-prod-attr__item">
                                    <div class="c-prod-attr__name">Energy kJ</div>
                                    <div class="c-prod-attr__value">570 g per 100 g/ml</div>
                                </div>
                                <div class="c-prod-attr__item">
                                    <div class="c-prod-attr__name">Protein</div>
                                    <div class="c-prod-attr__value">1 g per 100 g/ml</div>
                                </div>
                                <div class="c-prod-attr__item">
                                    <div class="c-prod-attr__name">Total fat</div>
                                    <div class="c-prod-attr__value">15 g per 100 g/ml</div>
                                </div>
                                <div class="c-prod-attr__item">
                                    <div class="c-prod-attr__name">Saturated fat</div>
                                    <div class="c-prod-attr__value">3 g per 100 g/ml</div>
                                </div>
                            </div>

                            <div class="c-prod-attr__section">

                                <div class="c-prod-attr__title">Further information</div>

                                <div class="c-prod-attr__item">
                                    <div class="c-prod-attr__name">country</div>
                                    <div class="c-prod-attr__value">Spain</div>
                                </div>

                            </div>


                        </div>

                    </div>

                </aside>

            </div>
        </div>

    </div>
</div>