<div class="container">
    <div class="row">

<h3 class="mx-auto">USERS</h3>
<table class="table table-hover table-sm">
    <tr class="table-active">
        <th scope="col">Id</th>
        <th scope="col">Username</th>
        <th scope="col">Name</th>
        <th scope="col">FirstName</th>
        <th scope="col">Address</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Password</th>
        <th scope="col">Link</th>

        <!-- <th>Photo</th> -->
        <!-- <th>Buy</th> -->
    </tr>
    <tr *ngFor="let user of users; index as i">
        <th scope="row">{{i}}</th>
        
        <td>{{user.userName}}</td>
        <td>{{user.name}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.address}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phone}}</td>
        <td>{{user.password}}</td>
        <!-- <td>
            <img src="assets/images/{{product.photo}}" width="50">
        </td> -->
        <td>
            <a [routerLink]="['/user-profile', user.userName]">User Profile
                <!-- {{ product.name }} -->
            </a>
            <!-- <a [routerLink]="['/user-profile', { userName:user.userName }]">userProfile</a> -->
        </td>
    </tr>
</table>

</div>
</div>