<div class="container">
    <div class="row">
<header>
  <br>
      <div class="row">
          <div class="col-md-4">
        <img src="../../assets/img/Programmeur.jpg" class="rounded mx-auto d-block" alt="prog" width="80%"/>
      </div>
        <div class="col-md-4">
        <img src="../../assets/img/Commerciale internet.png" class="rounded mx-auto d-block" alt="commerciale" width="100%"/>
      </div>

      <div class="col-md-4">
        <img src="../../assets/img/Experte reseau comic.png" class="rounded mx-auto d-block" alt="reseau" width="80%" /></div>
      </div>
</header>

 
    <article>
    <section>
    <h3>Une équipe et des valeurs de partage...</h3>


      <p><strong>3 compères :</strong></p>
      <div>
                    <ul style="list-style-type:circle;">
                    <li>Un développeur conceptuel</li>
                    <li>une experte réseau</li>
                    <li>Une expert marketing communication</li>
                    </ul>
        </div>
      </section>
      <section>
        <h4>Notre Histoire</h4>
        <p>Nous nous sommes rencontrés dans une grande entreprise.
            <br>Nous l’avons chacun quittée pour monter notre petite activité, il y a déjà 2 ans. Pour nous retrouver, nous ne trouvions jamais le lieu adéquat !
            <br>
            <br><strong> Trop grand, Trop bruyant, Trop loin </strong>
            <br>De là est venue l’idée de monter cette plateforme pour proposer des lieux à proximité de chez soi ou de son bureau pour des autoentrepreneurs et particuliers. 
            <br> L’esprit communautaire chevillé au corps, nous avons décidé de développer en 2015 une communauté à Paris pour multiplier les occasions de se retrouver pour travailler, présenter ses projets et ses produits sans oublier partager et s’amuser mais aussi de faire travailler son voisinage, les petits commerçants, les particuliers. 
            </p>
          
        <h4>Nos débuts</h4>
        <p>Tout a débuté en premier lieu dans un quartier puis ensuite dans les quartiers environnants et d’un coup tout Paris nous a rejoint. En 2016 avec le projet du Grand Paris, nous avons grandi aussi. En 2018, nous avons ouvert à toute la France. 
        <br><strong>Notre Toto : A petite échelle, tout va plus vite.</strong>
    </p>
  </section>
<section>
       <h4>Pourquoi ?</h4>
        <ul>    
        <li>Chacun a la possibilité de développer un business d’où qu’il soit mais aussi de voyager pour accroître son réseau professionnel et remporter de nouveaux projets.
        </li>
        <li>Au niveau personnel, le prix du loyer dans les grandes villes réduit la surface des domiciles. 
        </li>
        <li>De nouveaux besoins sont apparus et de nombreuses opportunités pour vous tous. 
        </li>
        <li>Tout comme les autres entreprises, les nouveaux métiers (Autoentrepreneurs, micro-entreprises) mais aussi de plus en plus de personnes, ont besoin de se rencontrer, de partager et de vivre des instants chaleureux à proximité. 
        </li>
        </ul>

       
      </section>
      <section>
         <h4>Comment cela marche ?</h4>
         <p>DayMeetings est une communauté qui fonctionne comme une plateforme de mise en relation pour  réserver et  privatiser de lieux uniques pour vos réunions, vos évènements de groupe (privés ou professionnels). 
        <br>Notre Team est à l'écoute de vos questions ou besoins tout au long de votre parcours. </p>
        <p>Décidez ce que vous souhaitez organiser. Quelques idées d’évènements que vous pourriez organiser grâce à notre communauté :     </p>
        <ul>    
        <li><strong>Professionnel</strong> : Séminaire, Présentation et ou lancement produit, meet up, entretiens</li>
        <li><strong>Semi-Professionnel</strong> : Afterwork, Pot de départ..</li>
        <li><strong>Privé</strong> : Anniversaire, Enterrement de vie de jeune fille et garçon, goûters d'enfants, réunions familiales</li>
        </ul>
      </section>

  </article>  


</div>
</div>