<script src="./home/home.component.js"></script>

<div id="container-global">

    <header>


        <!-- <div><img class="logo" src="../assets/logo/logo.JPG" alt="logo"></div>  -->

        <div class="nav-div" style="display: inline-block;">
            <button mat-button [matMenuTriggerFor]="menu">Navigation</button>
            <mat-menu #menu="matMenu">
                <a routerLink="/appartement-list" routerLinkActive="active"><button (click)="this.dataService.setStorage('!list')"
            mat-menu-item>Liste des Appartements</button></a>
                <a routerLink="/home" routerLinkActive="active"><button (click)="this.dataService.setStorage('empty search')"
            mat-menu-item>Page d'accueil</button></a>
                <a routerLink="/appartement-detail" routerLinkActive="active"><button (click)="this.dataService.setStorage('!detail')"
            mat-menu-item>Détails</button></a>
                <a routerLink="/users-list" routerLinkActive="active"><button (click)="this.dataService.setStorage('!user-profile')"
            mat-menu-item>Users</button></a>
                <!-- Mat Menu Open -->
            </mat-menu>



            <span style="float:right; margin-right: 24px;">
        <a [matMenuTriggerFor]="userMenu" *ngIf="this.userService.getStatus()">
          <mat-icon style="color:rgb(199, 196, 26)" matBadge="{{this.dataService.getStorageLength()}}" matBadgeOverlap="false"
            matBadgeColor="success">{{userIcon}}</mat-icon>
        </a>
        <a [matMenuTriggerFor]="userMenu" *ngIf="!this.userService.getStatus()">
          <mat-icon style="color:red">{{userIcon}}</mat-icon>
        </a>
        <mat-menu #userMenu="matMenu">
          <!-- Login -->
          <form [formGroup]="userLoginForm" novalidate onkeyup.enter="onLoginSubmit()">

            <mat-form-field [hidden]="this.userService.getStatus()" [ngStyle]="{'font-size.px': 18}" (click)="$event.stopPropagation()">
              <input matInput placeholder="Utilisateur" type="text" formControlName="userName" value="">
              <!-- <mat-error *ngIf="!userNameFormControl.hasError('required')">
              Veuillez entrer votre nom d'utilisateur
            </mat-error> -->
            </mat-form-field>

            <mat-form-field [hidden]="this.userService.getStatus()" [ngStyle]="{'font-size.px': 18}" (click)="$event.stopPropagation()">
              <input matInput placeholder="Mot de passe" type="password" formControlName="password" value="">
            </mat-form-field>
            <button *ngIf="!this.userService.getStatus()" mat-raised-button [disabled]="userLoginForm.invalid" (click)="onLoginSubmit()">Se
              Connecter</button>
          </form>
          <!-- <mat-error *ngIf="!paswordFormControl.hasError('required')">
              Veuillez entrer votre mot de passe
            </mat-error> -->

          <!--           </mat-form-field>
          <button *ngIf="!this.userService.getStatus()" mat-button (click)="OnLoginSubmit()">Se Connecter</button> -->
          <!-- Login -->





          <!-- <button *ngIf="!this.userService.getStatus()" mat-button (click)="onLoginSubmit()">Se Conecter</button> -->
          <!-- Login -->

          <button mat-menu-item [hidden]="this.userService.getStatus()" (click)="this.userService.goToSignUp()"><b>S'enregistrer</b></button>
          <button *ngIf="this.userService.getStatus()" (click)="this.userService.setUserName(undefined)" mat-menu-item><b>Se
              Deconnecter</b></button>

          <button [hidden]="!this.userService.getStatus()" mat-menu-item (click)="this.userService.goToProfile()"><span
              matBadge="{{this.dataService.getStorageLength()}}" matBadgeOverlap="false">Bonjour
              {{userName}}/messages</span></button>
            <button mat-menu-item [hidden]="!this.userService.getStatus()" (click)="this.userService.goToAppartementForm()">Ajoutez
            Votre Appartement</button>

            <a routerLink="/user-profile" routerLinkActive="active"><button mat-menu-item [hidden]="!this.userService.getStatus()">Réservations</button></a>
            </mat-menu>
            <!-- Mat Menu Close -->

            </span>
        </div>
        <!--  -->
        <!--                MAIN NAV            -->
        <!-- <nav id="mainNav" style="display:inline-block"> -->

        <!-- <app-navbar style="position:left"></app-navbar> -->
        <!-- <a class="navbar-brad"><button id="button" class="fa fa-bars open"></button></a> -->
        <!-- <div id="item">Item</div> -->
        <!-- <div> -->
        <!-- <span style="margin-left: 1em; margin-right: 1em;">home</a></span> -->
        <!-- <span style="margin-left: 1em; margin-right: 1em;"><a routerLink="/appartement-detail">Détails</span> -->
        <!-- <a href="#"><i class="fa fa-shopping-bag"></i></a> -->
        <!-- </div>
        </nav> -->

        <!--                / MAIN NAV          -->


        <div class="cta">
            <!-- (search)='searchfetch($event)' -->

            <app-search-bar></app-search-bar>
            <h1 class="explorer">Explorez vos opportunités</h1>
            <!-- <a [routerLink]="['/appartement-list']" routerLinkActive="router-link-active"><button>Réservez dès
          maintenant</button></a> -->
        </div>
    </header>
</div>
<router-outlet></router-outlet>
<hr>
<app-footer></app-footer>