<div class="container">
    
        <div>
          <img class="img-responsive" src="../../assets/img/communauté.jpg" alt="Communauté" width="460" height="345"> 
        </div>

<h4><strong>Avis des membres de la plateforme</strong></h4>
    
<div>
<p>DayMeetings s'est engagé depuis le début à poster sur la plateforme l'avis des membres de la communauté en temps réel.
<br>Les avis sont intégrés directement sur la plateforme en premier ville puis ensuite par arrondissement ou quartiers, comme notre moteur de recherche
 <br> Ces avis nous permettent d'être : 
</p>


  <li>Au plus proche des besoins de nos membres</li>
  <li>De corriger si la prestation n'est pas à la hauteur</li>
  <li>De compléter nos offres</li>
  <li>De vous proposer rapidement de nouveaux lieux et prestations supplémentaires.</li>
 <br><br>
</div>


<div class="row">

<div class="card-deck">

  <div class="card text-center bg-light mb-3">
    <img class="img-fluid card-img-top" src="../../assets/img/Paris.jpg" alt="paris"/>
    <div class="card-body">
<h5 class="card-title">PARIS</h5>
  <h5>Avis des utilisateurs</h5>
    <p class="card-text"><strong>Anne, auto entrepreneuse coaching depuis 6 mois</strong></p>
      
        <p>Le site est facile d'utilisation</p>
        <p>Les lieux sont conformes aux photos et l'offre est variée.</p>
        <p>Je recommande cette plateforme</p> 

  <h5>Avis des prestataires de lieux</h5>

    <!-- <p><strong>Sophie, microentreprise décoration durable</strong></p>
      
        <p>Plateforme très facile</p>
        <p>Très contente de pouvoir ouvrir mon salon pour des auto entrepreneurs</p>
        <p>les membres ont toujours laissé le salon et la cuisine en parfait état.</p> -->
      
                
    <p><strong>Alya, manager en mission dans une SS2I</strong></p>
      
        <p>Simplicité et convivialité ! </p>
        <p>J'ai mis en ligne mon studio, 2h après j'avais une réservation, cela m'a permis d'occuper mon studio pendant mon absence.</p>
      
               
</div>
</div>



  <div class="card text-center bg-light mb-3">
<img class="img-fluid card-img-top" src="../../assets/img/Orleans.jpg" alt="orleans"/>
<div class="card-body">
    <h5 class="card-title">ORLEANS</h5>

  <h5>Avis des utilisateurs</h5>
  <p><strong>Tarik, designer flaconnage</strong></p>
      
        <p>Plateforme conviviale</p>
        <p> La Wifi ne marche pas toujours très bien</p>
        <p>Je viens une fois par semaine à Paris pour présenter mes croquis à mes prospects, il serait pratique de pouvoir augmenter les plages horaires pour s'adapter à des rdv plus longs. </p>
      
              
</div>
</div>
</div>
</div>


<div class="row">
<div class="card-deck">

    <div class="card text-center bg-light mb-3">
        <img class="img-fluid card-img-top" src="../../assets/img/Nantes.jpg" alt="nantes"/>
        <div class="card-body">
            <h5 class="card-title">NANTES</h5>

  <h5>Avis des utilisateurs</h5>
  <p><strong>Vanessa, autoentrepreneuse, conseils personnalisés dans la beauté</strong></p>
      
        <p>Simple comme on aime ! </p>
        <p>Mes clientes sont très contentes, elles ont l'impression d'être chez elles.Je préfère louer un lieu avec une entrée pour permettre à mes clients d'attendre</p>
      
                
    <p><strong>Mathis, formateur web</strong></p>
      
        <p>Super facile, enfin une plateforme collaborative ! </p>
      
                
    </div>
  </div>

  


        <div class="card text-center bg-light mb-3">
            <img class="img-fluid card-img-top" src="../../assets/img/brest.jpg" alt="brest"/>
            <div class="card-body">
                <h5 class="card-title">BREST</h5>

  <h5>Avis des prestataires de lieux</h5>
  <p><strong>Julie, un living très confort</strong></p>
    
      <p>Très efficace, j'ai juste libéré mon living le matin. Suis rentrée le soir, tout était en parfait état. </p>
      <p>Je recommande !</p>
    

  </div>  
</div>

</div>
</div>



<div class="row">

    <div class="card-deck">

        <div class="card text-center bg-light mb-3">
<img class="img-fluid card-img-top" src="../../assets/img/Lyon.jpg" alt="lyon" />
<div class="card-body">
    <h5 class="card-title">LYON</h5>
  <h5>Avis des prestataires de lieux</h5>
  <p><strong>Sara, consultante dev services</strong></p>
      
        <p>Petit souci au départ pour me connecter, maintenant tout va bien</p>
        <p>Je peux rassurer, la rémunération a lieu le jour de la location</p>
        <p>J'ai utilisé les services pour deux réunions à Paris. Parfait ! </p>
      
                
    <p><strong>Saffaou, Scrum manager</strong></p>
      
        <p>Simplicité et convivialité ! </p>
        <p>J'ai mis en ligne mon 2 pièces pour une semaine, parfait, en une journée, j'avais déjà deux réservations. Je suis partie en mission très contente d'optimiser. Une excellente idée pour rembourser son prêt</p>
      
                
    </div>
  </div>



      <div class="card text-center bg-light mb-3">
          <img class="img-fluid card-img-top" src="../../assets/img/Amiens.jpg" alt="amiens" />
          <div class="card-body">
              <h5 class="card-title">AMIENS</h5>

    <h5>Avis des prestataires de lieux</h5>
    <p><strong>Van Loc, un studio au centre ville</strong></p>
      
        <p>Super, j'ai mis mon studio sur la plateforme,</p>
        <p> Dès que mon agenda est fixé, je mets mon studio sur la plateforme.</p>
        <p>Cela me permet de faire des petits week-ends plus souvent.</p>
      
    </div>
  </div>

    </div>
  </div>

  <div class="row">

      <div class="card-deck">

      <div class="card text-center bg-light mb-3">
          <img class="img-fluid card-img-top" src="../../assets/img/Senlis.jpg" alt="Senlis" />
          <div class="card-body">
              <h5 class="card-title">SENLIS</h5>

  <h5>Avis des utilisateurs</h5>
  <p><strong>Kristian, web developpeur</strong></p>
      
        <p>Offres nombreuses et variées, il y en a pour tous les goûts</p>
        <p> Il faut vite réserver car les lieux en centre ville sont souvent vite déjà pris</p>
      
                
    </div>
  </div>




        <div class="card text-center bg-light mb-3">
            <img class="img-fluid card-img-top" src="../../assets/img/Marseille.jpg" alt="Marseille" />
            <div class="card-body">
                <h5 class="card-title">MARSEILLE</h5>

    <h5>Avis des utilisateurs</h5>
    <p><strong>Julie, consultante gestion de projet</strong> </p>
        
          <p>Réactivité et efficacité ! </p>
          <p>100% satisfaite</p>
          <p>Besoin de tuyaux de la communauté pour le meilleur lieu à Paris</p>
        
                
     </div>
  </div>
     
    </div>
    </div>
  



</div>



