  
  .img-responsive {
    margin-top: 20px;
    position: relative;
    left: 0px;
    top: 0px;
    z-index:-1;
    width: 100%;
    text-align: center;
    color : white;
    margin-bottom: 10px;
  }
  

  
  h2{
  text-align: left;
  color:black
  }
  
  h3{
    text-align: center;
    text-decoration-style: solid;
    color:midnightblue
  }
  
  h4{

    text-align: center;
    text-decoration-style: solid;
    color:midnightblue
  
  
  }
  
  h5
  {
  color: midnightblue
  }
  