<hr>
<section>
    <div class="content">
        <a href="#"><i class="fa fa-search"></i></a>
        <ul>

            <li>
                <p>ville : {{appartement.ville}}</p>
            </li>
            <li>
                <p>nom : {{appartement.nom}}</p>
            </li>
            <li>
                <p>code postal : {{appartement.codePostal}}</p>
            </li>
            <li>
                <p>superficie : {{appartement.superficie}}</p>
            </li>
            <li>
                <p>étage : {{appartement["étage"]}}</p>
            </li>
            <li>
                <p>adresse : {{appartement.adresse}}</p>
            </li>
            <li>
                <p>capacité : {{appartement["capacité"]}}</p>
            </li>
            <li>
                <p>nombre de pièces : {{appartement["nombre_de_pièces"]}}</p>
            </li>
        </ul>
    </div>

</section>