* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-weight: 500;
    font-family: 'HelveticaNeue';
}

section {
    width: 100%;
    padding: 0 0%;
    display: table;
    margin: 0;
    max-width: none;
    background-color: #373B44;
    height: 30vh;
    &:nth-of-type(2n) {
        background-color: #FE4B74;
    }
}

.intro {
    height: 30vh;
}

.content {
    display: table-cell;
    vertical-align: middle;
}

h1 {
    font-size: 3em;
    display: block;
    color: white;
    font-weight: 300;
}

p {
    font-size: 1.5em;
    font-weight: 500;
    color: #C3CAD9;
}

a {
    font-weight: 700;
    color: #373B44;
    position: relative;
    &:hover {
        opacity: 0.8;
    }
    &:active {
        top: 1px;
    }
}

img {
    border: 3px transparent solid;
}

:hover img{
    border: 3px blue solid;
}.pointer

footer {
    padding: 1% 5%;
    text-align: center;
    background-color: #373B44;
    color: white;
    a {
        color: #FE4B74;
        font-weight: 500;
        text-decoration: none;
    }
}

.glyphicon {
    margin-right: 5px;
}

.thumbnail {
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    
    
}

.item.list-group-item {
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}

.item.list-group-item:nth-of-type(odd):hover,
.item.list-group-item:hover {
    background: #428bca;
}

.item.list-group-item .list-group-image {
    margin-right: 10px;
}

.item.list-group-item .thumbnail {
    margin-bottom: 0px;
}

.item.list-group-item .caption {
    padding: 9px 9px 0px 9px;
}

.item.list-group-item:nth-of-type(odd) {
    background: #eeeeee;
}

.item.list-group-item:before,
.item.list-group-item:after {
    display: table;
    content: " ";
}

.item.list-group-item img {
    float: left;
    margin: 6px;
    
}

.item.list-group-item:after {
    clear: both;
}

.list-group-item-text {
    margin: 0 0 11px;
}