<div class="container-fluid" *ngIf="this.userService.getStatus() && !edit">
    <ul>
        <li>nom d'utilisateur {{userName}}</li>
        <li>nom {{name}}</li>
        <li>prénom {{firstName}}</li>
        <li>adresse {{address}}</li>
        <li>email {{email}}</li>
        <li>phone {{phone}}</li>
        <li>mot de passe {{password}}</li>
    </ul>
    <button (click)="EditMode()">Modifier Profile</button>
</div>

<div *ngIf="edit" class="container">
    <form [formGroup]="userForm" (ngSubmit)="onFormSubmit()">
        Username: <input formControlName="userName" value={{userName}} /> Courriel : <input formControlName="email"
            value={{email}} /> Nom: <input formControlName="name" value={{name}} /> Prénom: <input
            formControlName="firstName" value={{firstName}} /> Addresse: <input formControlName="address"
            value={{address}} /> Téléphone: <input formControlName="phone" value={{phone}} /> Mot de passe: <input
            formControlName="password" value={{password}} />
        <button type="submit">Submit</button> <button (click)="updateCustomer()">Send Update</button>
    </form>
</div>