<div class="container">
    <div class="row">

<header>
  <div class="col-md-4 rgpd">
      <img src="../../assets/img/rgpd1.png" alt="rgpd"/>
    </div>
    </header>
 <div>
<h4>Politique relative aux données à caractère personnel des clients/contacts de la Plateforme DAY MEETINGS </h4>
</div>
<br /> <br />
<div>
    <p><strong>(Règlement Général sur la Protection des Données depuis le 25 mai 2018)</strong> </div>
<br /> <br />
<div>
<h3>Préambule</h3>
    <p>Le Règlement (EU) 2016/679 du Parlement Européen et du Conseil du 27 avril 2016 relatif à la protection des personnes physiques à l’égard du traitement de données à caractère personnel et à la libre circulation de ces données, autrement appelé le Règlement général sur la protection des données (ci-après RGPD) fixe le cadre juridique applicable aux traitements de données à caractère personnel. 
    <br>Le RGPD renforce les droits et les obligations des responsables de traitements, des sous-traitants, des personnes concernées et des destinataires des données. 
    <br>Dans le cas de notre activité nous sommes amenés à traiter des données à caractère personnel. 
    <br>Pour une bonne compréhension de la présente politique il est précisé que : 
    </p>
    <ul class="disc">
        <li>Le « responsable du traitement » : DAY MEETINGS, le « sous-traitant » : désigne toute personne physique ou morale qui traite des données à caractère personnel pour le compte de DayMeetings</li>
    
        <li>les « personnes concernées » : désigne les clients et/ou les contacts de DayMeetings</li>
        <li> les « personnes concernées » : désigne les clients et/ou les contacts de DayMeetings</li>
      </ul>
    <p>Le RGPD, en son article 12, impose que les personnes concernées soient informées de leurs droits de manière concise, transparente, compréhensible et aisément accessible. 
    </p>
    
  </div>
<div>
<h4>Objet</h4>
    <p>La présente politique a pour objet de satisfaire à l’obligation d’information à laquelle DAY MEETINGS est tenue en application du RGPD (article 12) et de formaliser les droits et les obligations de ses clients et contacts au regard du traitement de leurs données à caractère personnel. 
    </p>
  </div>
  <div>
<h4>Portée</h4>
    <p>La présente politique a vocation à s’appliquer dans le cadre de la mise en place de l’ensemble des traitements de données à caractère personnel relatives aux clients et aux contacts du Point. 
    DAY MEETINGS met tout en œuvre pour que les données soient traitées dans le cadre d’une gouvernance interne précise. Ceci étant précisé, la présente politique ne porte que sur les traitements dont DAY MEETINGS est responsable du traitement et ne vise donc pas les traitements qui ne seraient pas créés ou exploités en dehors des règles de gouvernance fixées par DAY MEETINGS (traitement dit « sauvages » ou shadow IT).
    <br>Le traitement de données à caractère personnel peut être géré directement par DAY MEETINGS ou par le biais d’un sous-traitant spécifiquement désigné par DAY MEETINGS. 
    <br>Cette politique est indépendante de tout autre document pouvant s’appliquer au sein de la relation contractuelle entre DAY MEETINGS et les clients ou les contacts. 
    </p>
  </div>
  <div>
<h4>Principes généraux & Collecte des données</h4>

        <p>Aucun traitement n’est mis en œuvre au sein du Point concernant des données de clients et de contacts s’il ne porte pas sur des données à caractère personnel collectées par ou pour nos services ou traitées en relation avec nos services et s’il ne répond pas aux principes généraux du RGPD. 
        Pour une bonne compréhension de la présente politique il est précisé que : 
        </p>
      </div>
      <div>
        <h4>Jeux & Concours</h4>
        <p>Toute démarche ludique destinée ou non à faire gagner un gain aux clients ou contacts du Point. Ils peuvent être réalisés on line ou off line, directement par DAY MEETINGS ou indirectement par ses partenaires. Généralement les données collectées sont celles nécessaires à l’identification des participants et à l’attribution des gains ou des lots. </p>
      </div>
      <div>
    <h4>Push Media</h4>
    <p>Toutes démarches de nature commerciale et de suivi commercial. </p>
  </div>
  <div>
    <h4>Prospection</h4>

        <p>Généralement par courrier électronique, SMS, téléphone, etc...; les données sont collectées selon les cas d’usage en opt-in ou en opt-out.</p> 
      </div>
      <div>
        <h4>Évènements ou Manifestations physiques organiséess par DAY MEETINGS ou auxquelles DAY MEETINGS participe ou sponsorise.  </h4>

                <p>Les données sont généralement colletées lors de l’inscription à l’évènement (directement ou via un partenaire) ou lors de l’évènement lui-même (bulletin, questionnaire, carte de visite, applications mobiles dédiées, …) comme par exemple : les données non techniques (selon les cas d’usage)</p>
            <ul>
                <li>Identité et identification (nom, prénom, date de naissance, pseudo, numéro client</li>
                <li>Coordonnées (e-mail, adresse postale, numéro de téléphone) : notamment pour l’envoi de newsletter et la livraison des journaux </li>
                <li>Vie personnelle / professionnelle lorsque c’est nécessaire </li>
                <li>Données bancaires si nécessaire (en cas de souscription à un abonnement en ligne vente en ligne)</li>
                <li>Données techniques (selon les cas d’usage)</li>
                <li>Données d’identification (adresse IP) </li>
                <li>Données de connexion (logs et token notamment) </li>
                <li>Données d’acceptation (clic) </li>
                <li>Données de localisation </li>
                
            </ul>
          </div>
          <div>  
     <h4>Origine des données</h4>
            <p>Les données relatives à nos clients et contacts sont généralement collectées directement auprès d’eux (collecte directe). 
            <br>La collecte peut aussi être indirecte via des entreprises spécialisées ou via les partenaires et fournisseurs du Point. Dans ce cas, DAY MEETINGS prend le plus grand soin à s’assurer de la qualité des données qui lui sont communiquées. 
            </p>
          </div>    
          <div>
    <h4>Finalités et bases légales</h4>
            <p>Selon les cas, DAY MEETINGS traite vos données pour les finalités suivantes : </p>
            <ul>
                <li>gestion de la relation clients (GRC)   </li>
                <li>gestion de la relation contact (GRP   </li>
                <li>community management    </li>
                <li>service client   </li>
                <li>gestion des comptes utilisateurs   </li>
                <li>souscription à des services   </li>
                <li>achat en ligne et administration de la boutique en ligne </li>  
                <li>organisation d’évènement   </li>
                <li>gestion des demandes de désinscription, réinscription et de désabonnement   </li>    
                <li>gestion des achats libres en VAD       </li>
                <li>gestion des signalements de comportements contraires aux présentes    </li>   
                <li>gestion des opt-in et des newsletters      </li> 
                <li>amélioration des services et enquête de satisfaction </li>      
                <li>analyse comportementale et ciblage   </li>    
                <li>ciblage publicitaire et segmentation   </li>    
                <li>acquisition d’audience       </li>
                <li>modération de commentaires sur les réseaux sociaux  </li>     
                <li>gestion de l’application mobile </li>      
                <li>statistiques  </li>  
            </ul>
            <p>Ces finalités reposent sur l’intérêt légitime du Point de disposer de données concernant ses utilisateurs et ses contacts. 
                La relation de DAY MEETINGS avec ses clients reposera sur les conditions générales de vente acceptées lors de la souscription. 
                Lorsque c’est nécessaire, DAY MEETINGS recueil le consentement des personnes (ex : newsletter). 

            </p>
          </div>
          <div>
    <h4>Destinataire des données - Habilitation & Traçabilité</h4>
            <p>DAY MEETINGS s’assure que les données ne soient accessibles qu’à des destinataires internes ou externes habilités. </p>
          </div>    
          <div> 
              <h4>Destinataires internes</h4>
          <ul>
            <li>le personnel habilité du service marketing, du service de la régie publicitaire, de la diffusion, des services chargés de traiter la relation client et la prospection, des services administratifs, des services logistiques et informatiques ainsi que leurs responsables hiérarchiques</li> 
            <li>le personnel habilité des services chargés du contrôle (commissaire aux comptes, services chargés des procédures internes du contrôle, etc.)</li>
          </ul>
            <p> Destinataires externes</p>
          <ul>
            <li>les partenaires, les sociétés extérieures ou les filiales d'un même groupe de sociétés </li>
            <li>les organismes, les auxiliaires de justice et les officiers ministériels, dans le cadre de leur mission de recouvrement de créances </li>
            <li>l'organisme en charge de la gestion de la liste d'opposition au démarchage téléphonique </li>
            <li>le personnel habilité des sous-traitants. </li>
          </ul>
            <p>Les destinataires des données à caractère personnel des clients et contacts au sein du Point sont soumis à une obligation de confidentialité. 
               <br> DAY MEETINGS décide quel destinataire pourra avoir accès à quelle donnée selon une politique d’habilitation. 
               <br> DAY MEETINGS n’est en aucun cas responsable des dommages de toute nature qui peuvent résulter d’un accès illicite aux données à caractère personnel. 
              <br>  Tous les accès concernant des traitements relatifs à des données à caractère personnel de clients et prospects font l’objet d’une mesure de traçabilité. 
               <br> Par ailleurs, les données à caractère personnel pourront être communiquées à toute autorité légalement habilitée à en connaître. Dans ce cas, DAY MEETINGS n’est pas responsable des conditions dans lesquelles les personnels de ces autorités ont accès et exploitent les données. 
              </p>
            </div>   
            <div>
              <h5>Durée de conservation</h5>
                <p> La durée de conservation des données est définie par DAY MEETINGS au regard des contraintes légales et contractuelles qui pèsent sur elle et à défaut en fonction de ses besoins et notamment selon les principes suivants :
                Passé les délais fixés, les données sont soit supprimées, soit conservées après avoir été anonymisées, notamment pour des raisons d’usages statistiques. Elles peuvent être conservées en cas de précontentieux et contentieux. 
                Il est rappelé aux clients et contacts que la suppression ou l’anonymisation sont des opérations irréversibles et que DAY MEETINGS n’est plus, par la suite, en mesure de les restaurer. 

            </p>
          </div>
          <div>
            <h5>Données relatives aux clients</h5>
              <p>Pendant la durée des relations contractuelles avec DAY MEETINGS, augmentée de 3 ans à des fins d’animation et de prospection, sans préjudice des obligations de conservation ou des délais de prescription </p>
            </div>
            <div>
            <h5>Données relatives aux membres et utilisateurs</h5>
                <ul>
                    <li>Pendant la durée nécessaire à la réalisation des prestations assurées par DAY MEETINGS et 1 an après la dernière intervention </li>
                    <li>Cookies : 13 mois </li>
                </ul>
              </div>
          <div>
            <h5>Données relatives aux contacts et prospects</h5>
                    <p>3 ans à compter de leur collecte par DAY MEETINGS ou du dernier contact émanant du prospect / du contact </p>
          </div>
          <div>
            <h5>Données techniques</h5>
            <ul>
                    <li>1 an à compter de leur collecte </li>
            </ul>
          </div>
<br>
        <div>
            <h5>Données bancaires</h5>
                <ul>
                    <li>Supprimées dès la transaction réalisée, sauf accord exprès du client </li>
                    <li>Si contestation de la transaction : conservation 13 mois en archivage suivant la date de débit </li>
                </ul>
        </div>
        <div>
            <h5>Droits de confirmation et droit d'accès</h5>
                <p>
                    Les clients et contacts disposent d’un droit de demander au Point la confirmation que des données le concernant sont ou non traitées. 
                    Les clients et contacts disposent également d’un droit d’accès, ce dernier étant conditionné au respect des règles suivantes :</p>
                  <ul>
                    <li>la demande émane de la personne elle-même et est accompagnée d’une copie d’un titre d’identité, à jour </li>
                    <li>être formulée par écrit à l’adresse suivante : DAY MEETINGS / Service Abonnements, Immeuble Le Barjac 1 boulevard Victor - 75015 Paris, France ou à l’adresse e-mail : donnees-personnelles@daymeetings.com</li>
                  </ul>  
                  <p>Les clients et contacts ont le droit de demander une copie de leurs données à caractère personnel faisant l’objet du traitement auprès du Point. Toutefois, en cas de demande de copie supplémentaire, DAY MEETINGS pourra exiger la prise en charge financière de ce coût par les clients et contacts.
                    Si les clients et contacts présentent leur demande de copie des données par voie électronique, les informations demandées lui seront fournies sous une forme électronique d’usage courant, sauf demande contraire. 
                    Les clients et contacts sont informés que ce droit d’accès ne peut porter sur des informations ou données confidentielles ou encore pour lesquelles la loi n’autorise pas la communication. 
                    Le droit d’accès ne doit pas être exercé de manière abusive c’est-à-dire réalisé de manière régulière dans le seul but de déstabiliser le service concerné. 
                  </p>
                </div>
                <div>
            <h5>Mise à jour - Actualisation et rectification</h5>
                <p>DAY MEETINGS satisfait aux demandes de mise à jour :</p>
                  <ul>
                    <li>automatiquement pour les modifications en ligne sur des champs qui techniquement ou légalement peuvent être mis à jour </li>
                    <li>sur demande écrite émanant de la personne elle-même qui doit justifier de son identité</li>
                  </ul>

                </div>
                <div>
              <h5>Droit à l'effacement</h5>
                <p>
                    Le droit à l’effacement des clients et contacts ne sera pas applicable dans les cas où le traitement est mis en œuvre pour répondre une obligation légale. 
                    En dehors de cette situation, les clients et contacts pourront demander l’effacement de leurs données dans les cas limitatifs suivants :</p>
                  <ul>
                    <li>les données à caractère personnel ne sont plus nécessaires au regard des finalités pour lesquelles elles ont été collectées ou traitées d’une autre manière </li>
                    <li>lorsque la personne concernée retire le consentement sur lequel est fondé le traitement et qu’il n’existe pas d’autre fondement juridique au traitement 
                    </li>
                    <li>la personne concernée s’oppose à un traitement nécessaire aux fins des intérêts légitimes poursuivis par DAY MEETINGS et qu’il n’existe pas de motif légitime impérieux pour le traitement </li>
                    <li>la personne concernée s’oppose à un traitement de ses données à caractère personnel à des fins de prospection, y compris au profilage </li>
                    <li>les données à caractère personnel ont fait l’objet d’un traitement illicite </li>
                  </ul>
                    <p>  Conformément à la législation sur la protection des données à caractère personnel, les clients et contacts sont informés qu’il s'agit d'un droit individuel qui ne peut être exercé que par la personne concernée relativement à ses propres informations : pour des raisons de sécurité, le service concerné devra donc vérifier votre identité afin d'éviter toute communication d'informations confidentielles vous concernant à une autre personne que vous.              </p>
                  
                  </div>
                  <div>
                <h5>Droit à la limitation</h5>
                  <p>Les clients et contacts sont informés de ce que droit n’a pas vocation à s’appliquer dans la mesure où le traitement opéré par DAY MEETINGS est licite et que toutes les données à caractère personnel collectées sont nécessaires à l’exécution de ses prestations. 
                  </p>
                </div>
                <div>
                <h5>Droit à la portabilité</h5>
                  <p>DAY MEETINGS fait droit à la portabilité des données dans le cas particulier des données communiqués par les clients et contacts eux même, sur des services en ligne proposés par DAY MEETINGS lui-même et pour les finalités reposant sur le seul consentement des personnes. Dans ce cas les données seront communiquées dans un format structuré, couramment utilisé et lisible par une machine. 
                  </p>
                </div>
                <div>
                <h5>Décision individuelle automatisée</h5>
                  <p>DAY MEETINGS ne procède pas à des décisions individuelles automatisées.
                  </p>
                </div>
                <div>
                <h5>Droit Post Mortem</h5>
                  <p>Les clients et contacts sont informés qu’ils disposent du droit de formuler des directives concernant la conservation, l’effacement et la communication de leurs données post-mortem. La communication de directives spécifiques post-mortem et l’exercice de leurs droits s’effectuent par courrier électronique à l’adresse donnees-personnelles@daymeetings.com ou par courrier postal à l’adresse suivante Immeuble Le Barjac 1 boulevard Victor - 75015 Paris, France, accompagné d’une copie d’un titre d’identité signé.
                  </p>
                </div>
                <div>
                <h5>Caractère facultatif ou obligatoire des réponses</h5>
                  <p> Les clients et contacts sont informés sur chaque formulaire de collecte des données à caractère personnel du caractère obligatoire ou facultatif des réponses par la présence d’un astérisque. <br>
                  Dans le cas où des réponses sont obligatoires, DAY MEETINGS explique aux clients et contacts les conséquences d’une absence de réponse. 
                  </p>
                </div>
                <div>
                <h5>Droit d'usage</h5>
                  <p>DAY MEETINGS se voit conférer par les clients et contacts un droit d’usage et de traitement de leurs données à caractère personnel pour les finalités exposées ci-dessus. <br>
                  Toutefois, les données enrichies qui sont le fruit d’un travail de traitement et d’analyse du Point, autrement appelées les données enrichies, demeurent la propriété exclusive du Point (analyse d’usage, statistiques, etc.). 
                  </p>
                </div>
                <div>
                <h5>Sous-Traitance</h5>
                  <p>DAY MEETINGS informe ses clients et contacts qu’elle pourra faire intervenir tout sous-traitant de son choix dans le cadre du traitement de leurs données à caractère personnel. <br>
                    Dans ce cas, DAY MEETINGS s’assure du respect par le sous-traitant de ses obligations en vertu du RGPD. <br>
                    DAY MEETINGS s’engage à signer avec tous ses sous-traitants un contrat écrit et impose aux sous-traitants les mêmes obligations en matière de protection des données qu’elle-même. De plus, DAY MEETINGS se réserve le droit de procéder à un audit auprès de ses sous-traitants afin de s’assurer du respect des dispositions du RGPD. 
                  </p>
                </div>
                <div>
                  <h5>Sécurité</h5>
                    <p>Il appartient au Point de définir et de mettre en œuvre les mesures techniques de sécurité, physiques ou logiques, qu’il estime appropriées pour lutter contre la destruction, la perte, l’altération ou la divulgation non autorisée des données de manière accidentelle ou illicite. <br>
                    Parmi ces mesures figurent principalement :</p>
                    <ul>
                      <li>gestion des habilitations pour l’accès aux données </li>
                      <li>mesures de sauvegarde interne </li>
                      <li>processus d’identification </li>
                      <li>conduite d’audits de sécurité </li>
                      <li>l’adoption d’une politique de sécurité des systèmes d’information </li>
                      <li>l’adoption de plans de continuité / de reprise d’activité </li>
                      <li>l’utilisation d’un protocole ou de solutions de sécurité </li>
                    </ul>
                   
                  </div>
                  <div>
                  <h5>Violation des données</h5>
                    <p>En cas de violation de données à caractère personnel, DAY MEETINGS s’engage à en notifier à la CNIL dans les conditions prescrites par le RGPD. <br>
                    Si ladite violation fait porter un risque élevé pour les clients et contacts et que les données n’ont pas été protégées, DAY MEETINGS : </p>
                    <ul>
                      <li>en avisera les clients et contacts concernés </li>
                      <li>communiquera aux clients et contacts concernés les informations et recommandations nécessaires.</li>
                    </ul>
                  </div>
                  <div>

                    <h5>Délégation à la protection des données</h5>
                      <p>
                    DAY MEETINGS a désigné un délégué à la protection des données. <br>
                    Les coordonnées du délégué à la protection des données sont les suivantes : 
                    Adresse e-maill :  managerdonnees-personnelles@daymeetings.com
                    En cas de nouveau traitement de données à caractère personnel, DAY MEETINGS saisira préalablement le délégué à la protection des données.
                    Si les clients et contacts souhaitent obtenir une information particulière ou souhaitent poser une question particulière, il leur sera possible de saisir le délégué à la protection des données qui leur donnera une réponse dans un délai raisonnable au regard de la question posée ou de l’information requise.
                    En cas de problème rencontré avec le traitement des données à caractère personnel, les clients et contacts pourront saisir le délégué à la protection des données désigné.
                      </p>
                    </div>
                    <div>
                    <h5>Registre des traitements</h5>
                      <p>DAY MEETINGS, en tant que responsable du traitement, s’engage à tenir à jour un registre de toutes les activités de traitement effectuées. 
                    Ce registre est un document ou applicatif permettant de recenser l’ensemble des traitements mis en œuvre par DAY MEETINGS, en tant que responsable du traitement.
                    DAY MEETINGS s’engage à fournir à l’autorité de contrôle, à première demande, les renseignements permettant à ladite autorité de vérifier la conformité des traitements à la règlementation informatique et libertés en vigueur.
                      </p>
                    </div>
                    <div>
                      <h5>Droit d'introduire une réclamation auprès de la CNIL</h5>
                        <p>Les clients et contacts concernés par le traitement de leurs données à caractère personnel sont informés de leur droit d’introduire une plainte auprès d'une autorité de contrôle, à savoir la CNIL en France, si celui-ci estime que le traitement de données à caractère personnel le concernant n'est pas conforme à la règlementation européenne de protection des données, à l’adresse suivante : </p>
                        <ul>
                          <li>CNIL – Service des plaintes </li>
                          <li>3 Place de Fontenoy - TSA 80715 - 75334 PARIS CEDEX 07</li>
                          <li>Tél : 01 53 73 22 22</li>
                        </ul>
                        
                      </div>
                      <div>
                      <h5>Evolution</h5>
                        <p>
                          La présente politique peut être modifiée ou aménagée à tout moment en cas d’évolution légale, jurisprudentielle, des décisions et recommandations de la Cnil ou des usages. <br>
                          Toute nouvelle version de la présente politique sera portée à la connaissance des clients et contacts par tout moyen défini par DAY MEETINGS, en ce compris la voie électronique (diffusion par courrier électronique ou en ligne par exemple). 
                        </p>
                      </div>
                      <div>
                        <h5>Pour plus d'informations</h5>
                          <p>Pour toutes informations complémentaires, vous pouvez contacter les services suivants : DAY MEETINGS / service abonnements, 1 boulevard Victor, 75015 PARIS ou via donnees-personnelles@daymeetings.com <br>
                    Pour toute autre information plus générale sur la protection des données personnelles, vous pouvez consulter le site de la CNIL www.cnil.fr.
                          </p>
                        </div>



 </div>
</div>


